 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 489px;
}

.u-section-1 .u-image-1 {
  width: 711px;
  height: 400px;
  transition-duration: 0.25s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  animation-timing-function: ease;
  --animation-custom_in-scale: 0.3;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  margin: 89px auto 0;
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 393px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 304px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 280px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 191px;
  }
}

.u-section-1 .u-image-1,
.u-section-1 .u-image-1:before,
.u-section-1 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-1.u-image-1.u-image-1:hover {
  transform: scale(1.1) !important;
}

.u-section-1 .u-image-1.u-image-1.u-image-1.hover {
  transform: scale(1.1) !important;
}

.u-section-1 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-2 .u-sheet-1 {
  min-height: 10px;
}.u-section-3 .u-sheet-1 {
  min-height: 192px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  line-height: 1.07;
  letter-spacing: 0px;
  transition-duration: 0.5s;
  font-family: "Varela Round";
  font-weight: 700;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 22px auto 0;
}

.u-section-3 .u-image-1 {
  width: 660px;
  height: 7px;
  margin: 6px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.875rem;
  letter-spacing: 0px;
  font-weight: 300;
  font-family: Montserrat, sans-serif;
  margin: 6px auto 33px;
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 191px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 6px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 189px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 4px;
  }
}

.u-section-3 .u-text-1,
.u-section-3 .u-text-1:before,
.u-section-3 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-text-1.u-text-1.u-text-1:hover {
  color: #ff7c00 !important;
  transform: scale(1.06) !important;
}

.u-section-3 .u-text-1.u-text-1.u-text-1.hover {
  color: #ff7c00 !important;
  transform: scale(1.06) !important;
}

.u-section-3 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-4 .u-sheet-1 {
  min-height: 345px;
}

.u-section-4 .u-image-1 {
  width: 516px;
  height: 214px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 10px auto 0 -151px;
}

.u-section-4 .u-image-2 {
  width: 499px;
  height: 214px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -214px auto 0;
}

.u-section-4 .u-image-3 {
  width: 479px;
  height: 214px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -214px -114px 0 auto;
}

.u-section-4 .u-text-1 {
  font-size: 1.875rem;
  line-height: 1.07;
  letter-spacing: 0px;
  transition-duration: 1s;
  font-family: "Varela Round";
  font-weight: 700;
  margin: 9px auto 0 -17px;
}

.u-section-4 .u-text-2 {
  font-size: 1.875rem;
  line-height: 1.07;
  letter-spacing: 0px;
  transition-duration: 1s;
  font-family: "Varela Round";
  font-weight: 700;
  margin: -32px -34px 0 auto;
}

.u-section-4 .u-text-3 {
  font-size: 1.875rem;
  line-height: 1.07;
  letter-spacing: 0px;
  transition-duration: 1s;
  font-family: "Varela Round";
  font-weight: 700;
  margin: -31px auto 0;
}

.u-section-4 .u-text-4 {
  font-size: 1.25rem;
  letter-spacing: 0px;
  font-weight: 300;
  margin: 10px -80px 0 989px;
}

.u-section-4 .u-text-5 {
  font-size: 1.25rem;
  letter-spacing: 0px;
  font-weight: 300;
  width: 412px;
  margin: -44px auto 0;
}

.u-section-4 .u-text-6 {
  font-size: 1.25rem;
  letter-spacing: 0px;
  font-weight: 300;
  margin: -44px 1008px 25px -98px;
}

.u-section-4 .u-text-7 {
  font-size: 1.25rem;
  line-height: 1.07;
  letter-spacing: 0px;
  font-weight: 700;
  transition-duration: 1s;
  font-family: "Varela Round";
  width: auto;
  margin: 20px auto 60px 76px;
}

.u-section-4 .u-text-8 {
  font-size: 1.25rem;
  line-height: 1.07;
  letter-spacing: 0px;
  font-weight: 700;
  transition-duration: 1s;
  font-family: "Varela Round";
  width: auto;
  margin: 20px auto 60px 116px;
}

.u-section-4 .u-text-9 {
  font-size: 1.25rem;
  line-height: 1.07;
  letter-spacing: 0px;
  font-weight: 700;
  transition-duration: 1s;
  font-family: "Varela Round";
  width: auto;
  margin: 20px auto 60px 489px;
}

@media (max-width: 1399px) {
  .u-section-4 .u-text-4 {
    font-size: 1rem;
    margin-left: 899px;
  }

  .u-section-4 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-4 .u-text-6 {
    font-size: 1rem;
    margin-right: 918px;
  }

  .u-section-4 .u-text-9 {
    margin-left: 422px;
  }
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  }

  .u-section-4 .u-text-4 {
    margin-left: 799px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 818px;
  }

  .u-section-4 .u-text-9 {
    margin-left: 348px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-4 {
    margin-left: 689px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 708px;
  }

  .u-section-4 .u-text-9 {
    margin-left: 267px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-4 {
    margin-left: 599px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 618px;
  }

  .u-section-4 .u-text-9 {
    margin-left: 200px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 247px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 141px;
    margin-left: 0;
  }

  .u-section-4 .u-image-2 {
    width: 340px;
    height: 146px;
    margin-top: -141px;
  }

  .u-section-4 .u-image-3 {
    width: 340px;
    height: 152px;
    margin-top: -146px;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 499px;
  }

  .u-section-4 .u-text-5 {
    width: 340px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 518px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 73px;
  }

  .u-section-4 .u-text-9 {
    margin-left: 126px;
  }
}

.u-section-4 .u-image-1,
.u-section-4 .u-image-1:before,
.u-section-4 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-image-1.u-image-1.u-image-1:hover {
  border-radius: 15px !important;
  transform: scale(1.04) !important;
  box-shadow: 0px 0px 0px 5px rgba(229,0,255,1) !important;
}

.u-section-4 .u-image-1.u-image-1.u-image-1.hover {
  border-radius: 15px !important;
  transform: scale(1.04) !important;
  box-shadow: 0px 0px 0px 5px rgba(229,0,255,1) !important;
}

.u-section-4 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-text-1,
.u-section-4 .u-text-1:before,
.u-section-4 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-text-1.u-text-1.u-text-1:hover {
  color: #ff7c00 !important;
  transform: scale(1.06) !important;
}

.u-section-4 .u-text-1.u-text-1.u-text-1.hover {
  color: #ff7c00 !important;
  transform: scale(1.06) !important;
}

.u-section-4 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-text-3,
.u-section-4 .u-text-3:before,
.u-section-4 .u-text-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-text-3.u-text-3.u-text-3:hover {
  color: #ff7c00 !important;
  transform: scale(1.06) !important;
}

.u-section-4 .u-text-3.u-text-3.u-text-3.hover {
  color: #ff7c00 !important;
  transform: scale(1.06) !important;
}

.u-section-4 .u-container-layout:hover .u-text-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-text-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-text-2,
.u-section-4 .u-text-2:before,
.u-section-4 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-text-2.u-text-2.u-text-2:hover {
  color: #ff7c00 !important;
  transform: scale(1.06) !important;
}

.u-section-4 .u-text-2.u-text-2.u-text-2.hover {
  color: #ff7c00 !important;
  transform: scale(1.06) !important;
}

.u-section-4 .u-container-layout:hover .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-image-2,
.u-section-4 .u-image-2:before,
.u-section-4 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-image-2.u-image-2.u-image-2:hover {
  border-radius: 15px !important;
  transform: scale(1.04) !important;
  box-shadow: 0px 0px 0px 5px rgba(229,0,255,1) !important;
}

.u-section-4 .u-image-2.u-image-2.u-image-2.hover {
  border-radius: 15px !important;
  transform: scale(1.04) !important;
  box-shadow: 0px 0px 0px 5px rgba(229,0,255,1) !important;
}

.u-section-4 .u-container-layout:hover .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-image-3,
.u-section-4 .u-image-3:before,
.u-section-4 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-image-3.u-image-3.u-image-3:hover {
  border-radius: 15px !important;
  transform: scale(1.04) !important;
  box-shadow: 0px 0px 0px 5px rgba(229,0,255,1) !important;
}

.u-section-4 .u-image-3.u-image-3.u-image-3.hover {
  border-radius: 15px !important;
  transform: scale(1.04) !important;
  box-shadow: 0px 0px 0px 5px rgba(229,0,255,1) !important;
}

.u-section-4 .u-container-layout:hover .u-image-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-image-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-text-7,
.u-section-4 .u-text-7:before,
.u-section-4 .u-text-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-text-7.u-text-7.u-text-7:hover {
  color: #ff7c00 !important;
  transform: scale(1.06) !important;
}

.u-section-4 .u-text-7.u-text-7.u-text-7.hover {
  color: #ff7c00 !important;
  transform: scale(1.06) !important;
}

.u-section-4 .u-container-layout:hover .u-text-7 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-text-7 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-text-8,
.u-section-4 .u-text-8:before,
.u-section-4 .u-text-8 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-text-8.u-text-8.u-text-8:hover {
  color: #ff7c00 !important;
  transform: scale(1.06) !important;
}

.u-section-4 .u-text-8.u-text-8.u-text-8.hover {
  color: #ff7c00 !important;
  transform: scale(1.06) !important;
}

.u-section-4 .u-container-layout:hover .u-text-8 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-text-8 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-text-9,
.u-section-4 .u-text-9:before,
.u-section-4 .u-text-9 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-text-9.u-text-9.u-text-9:hover {
  color: #ff7c00 !important;
  transform: scale(1.06) !important;
}

.u-section-4 .u-text-9.u-text-9.u-text-9.hover {
  color: #ff7c00 !important;
  transform: scale(1.06) !important;
}

.u-section-4 .u-container-layout:hover .u-text-9 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-text-9 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-5 .u-sheet-1 {
  min-height: 10px;
}.u-section-6 .u-sheet-1 {
  min-height: 235px;
}

.u-section-6 .u-text-1 {
  font-size: 2.25rem;
  line-height: 1.07;
  letter-spacing: 0px;
  font-weight: 700;
  transition-duration: 1s;
  font-family: "Varela Round";
  margin: 20px 109px 20px auto;
}

.u-section-6 .u-image-1 {
  width: 500px;
  height: 143px;
  transition-duration: 0.25s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 46px auto 0 0;
}

.u-section-6 .u-text-2 {
  font-size: 3rem;
  line-height: 1;
  letter-spacing: 0px;
  transition-duration: 0.5s;
  font-family: "Varela Round";
  font-weight: 700;
  margin: -141px 123px 0 auto;
}

.u-section-6 .u-image-2 {
  width: 467px;
  height: 7px;
  margin: 0 155px 0 auto;
}

.u-section-6 .u-text-3 {
  font-size: 1.875rem;
  letter-spacing: 0px;
  font-weight: 300;
  margin: 10px 67px 56px auto;
}

@media (max-width: 1399px) {
  .u-section-6 .u-text-1 {
    width: auto;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    margin-right: 149px;
  }

  .u-section-6 .u-text-3 {
    font-size: 1.5rem;
    width: auto;
    margin-right: 85px;
  }
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-2 {
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-image-2 {
    margin-right: 73px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 187px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 94px;
  }

  .u-section-6 .u-image-1 {
    height: 97px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: -95px;
    margin-right: auto;
    margin-left: 38px;
  }

  .u-section-6 .u-image-2 {
    width: 340px;
    height: 5px;
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    margin-right: auto;
    margin-left: 9px;
  }
}

.u-section-6 .u-image-1,
.u-section-6 .u-image-1:before,
.u-section-6 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-6 .u-image-1.u-image-1.u-image-1:hover {
  border-radius: 26px !important;
  transform: scale(1.1) !important;
}

.u-section-6 .u-image-1.u-image-1.u-image-1.hover {
  border-radius: 26px !important;
  transform: scale(1.1) !important;
}

.u-section-6 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-6 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-6 .u-text-2,
.u-section-6 .u-text-2:before,
.u-section-6 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-6 .u-text-2.u-text-2.u-text-2:hover {
  color: #ff7c00 !important;
  transform: scale(1.06) !important;
}

.u-section-6 .u-text-2.u-text-2.u-text-2.hover {
  color: #ff7c00 !important;
  transform: scale(1.06) !important;
}

.u-section-6 .u-container-layout:hover .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-6 .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-6 .u-text-1,
.u-section-6 .u-text-1:before,
.u-section-6 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-6 .u-text-1.u-text-1.u-text-1:hover {
  color: #ff7c00 !important;
  transform: scale(1.06) !important;
}

.u-section-6 .u-text-1.u-text-1.u-text-1.hover {
  color: #ff7c00 !important;
  transform: scale(1.06) !important;
}

.u-section-6 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-6 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-7 .u-sheet-1 {
  min-height: 10px;
}.u-section-8 .u-sheet-1 {
  min-height: 536px;
}

.u-section-8 .u-text-1 {
  font-size: 3rem;
  line-height: 1.07;
  letter-spacing: 0px;
  transition-duration: 0.5s;
  font-family: "Varela Round";
  font-weight: 700;
  margin: 19px auto 0;
}

.u-section-8 .u-image-1 {
  width: 96px;
  height: 7px;
  margin: 0 auto;
}

.u-section-8 .u-image-2 {
  width: 765px;
  height: 417px;
  transition-duration: 0.5s;
  margin: 12px auto 0 63px;
}

.u-section-8 .u-text-2 {
  font-family: "Varela Round";
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: -65px auto 0 72px;
}

.u-section-8 .u-text-3 {
  font-family: "Varela Round";
  margin: 4px auto 0 72px;
}

.u-section-8 .u-text-4 {
  font-family: "Varela Round";
  line-height: 1.23;
  letter-spacing: 0px;
  margin: -21px 502px 0 auto;
}

.u-section-8 .u-image-3 {
  width: 453px;
  height: 199px;
  transition-duration: 0.5s;
  margin: -406px 12px 0 auto;
}

.u-section-8 .u-text-5 {
  font-family: "Varela Round";
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: -37px 288px 0 862px;
}

.u-section-8 .u-text-6 {
  font-family: "Varela Round";
  font-size: 0.75rem;
  margin: 0 273px 0 auto;
}

.u-section-8 .u-text-7 {
  font-family: "Varela Round";
  line-height: 1.23;
  letter-spacing: 0px;
  font-size: 0.75rem;
  margin: -14px 19px 0 auto;
}

.u-section-8 .u-image-4 {
  width: 453px;
  height: 206px;
  transition-duration: 0.5s;
  margin: 16px 12px 0 auto;
}

.u-section-8 .u-text-8 {
  font-family: "Varela Round";
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: -38px 225px 0 auto;
}

.u-section-8 .u-text-9 {
  font-family: "Varela Round";
  font-size: 0.75rem;
  margin: 0 367px 0 auto;
}

.u-section-8 .u-text-10 {
  font-family: "Varela Round";
  line-height: 1.23;
  letter-spacing: 0px;
  font-size: 0.75rem;
  margin: -14px 19px 35px auto;
}

@media (max-width: 1399px) {
  .u-section-8 .u-image-1 {
    margin-top: 309px;
  }

  .u-section-8 .u-image-2 {
    margin-top: -92px;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-top: 60px;
    margin-left: 31px;
  }

  .u-section-8 .u-text-3 {
    width: auto;
    margin-top: 0;
    margin-left: 31px;
  }

  .u-section-8 .u-text-4 {
    width: auto;
    margin-top: -22px;
    margin-right: 481px;
  }

  .u-section-8 .u-image-3 {
    margin-top: -544px;
  }

  .u-section-8 .u-text-5 {
    margin-right: 225px;
    margin-left: 772px;
  }

  .u-section-8 .u-image-4 {
    width: 652px;
    margin-top: 206px;
    margin-left: 19px;
  }

  .u-section-8 .u-text-8 {
    margin-top: -235px;
  }
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-4 {
    margin-right: 397px;
  }

  .u-section-8 .u-text-5 {
    margin-left: 672px;
  }

  .u-section-8 .u-text-9 {
    margin-right: 303px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 512px;
  }

  .u-section-8 .u-image-1 {
    margin-top: 487px;
  }

  .u-section-8 .u-image-2 {
    width: 720px;
    height: 393px;
    margin-top: -117px;
    margin-left: 0;
  }

  .u-section-8 .u-text-2 {
    margin-top: 80px;
  }

  .u-section-8 .u-text-4 {
    margin-right: 304px;
  }

  .u-section-8 .u-image-3 {
    margin-top: -518px;
  }

  .u-section-8 .u-text-5 {
    margin-left: 550px;
  }

  .u-section-8 .u-text-6 {
    margin-right: 209px;
  }

  .u-section-8 .u-image-4 {
    height: 350px;
    margin-top: 7px;
  }

  .u-section-8 .u-text-8 {
    margin-top: -209px;
  }

  .u-section-8 .u-text-9 {
    margin-right: 232px;
  }

  .u-section-8 .u-text-10 {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 414px;
  }

  .u-section-8 .u-image-1 {
    margin-top: 403px;
  }

  .u-section-8 .u-image-2 {
    width: 540px;
    height: 295px;
    margin-top: -66px;
  }

  .u-section-8 .u-text-2 {
    margin-top: 114px;
  }

  .u-section-8 .u-text-4 {
    margin-right: 228px;
  }

  .u-section-8 .u-text-5 {
    margin-right: 169px;
    margin-left: 370px;
  }

  .u-section-8 .u-text-6 {
    margin-right: 157px;
  }

  .u-section-8 .u-image-4 {
    width: 453px;
    height: 290px;
    margin-left: auto;
  }

  .u-section-8 .u-text-8 {
    margin-top: -149px;
    margin-right: 169px;
  }

  .u-section-8 .u-text-9 {
    margin-right: 174px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 203px;
  }

  .u-section-8 .u-image-1 {
    margin-top: 211px;
  }

  .u-section-8 .u-image-2 {
    width: 340px;
    height: 186px;
    margin-top: 29px;
  }

  .u-section-8 .u-text-2 {
    margin-top: 141px;
    margin-left: 0;
  }

  .u-section-8 .u-text-3 {
    margin-left: 0;
  }

  .u-section-8 .u-text-4 {
    margin-right: 19px;
  }

  .u-section-8 .u-image-3 {
    width: 340px;
    height: 149px;
    margin-top: -544px;
    margin-right: 0;
  }

  .u-section-8 .u-text-5 {
    margin-top: 13px;
    margin-right: 106px;
    margin-left: 170px;
  }

  .u-section-8 .u-text-6 {
    margin-right: 99px;
  }

  .u-section-8 .u-image-4 {
    width: 340px;
    height: 183px;
    margin-top: 132px;
    margin-right: 0;
  }

  .u-section-8 .u-text-8 {
    margin-top: -167px;
    margin-right: 106px;
  }

  .u-section-8 .u-text-9 {
    margin-right: 110px;
  }
}

.u-section-8 .u-text-1,
.u-section-8 .u-text-1:before,
.u-section-8 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-8 .u-text-1.u-text-1.u-text-1:hover {
  color: #ff7c00 !important;
  transform: scale(1.06) !important;
}

.u-section-8 .u-text-1.u-text-1.u-text-1.hover {
  color: #ff7c00 !important;
  transform: scale(1.06) !important;
}

.u-section-8 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-8 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-8 .u-image-4,
.u-section-8 .u-image-4:before,
.u-section-8 .u-image-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-8 .u-image-4.u-image-4.u-image-4:hover {
  border-radius: 15px !important;
  box-shadow: 0px 0px 0px 5px rgba(229,0,255,1) !important;
}

.u-section-8 .u-image-4.u-image-4.u-image-4.hover {
  border-radius: 15px !important;
  box-shadow: 0px 0px 0px 5px rgba(229,0,255,1) !important;
}

.u-section-8 .u-image-2,
.u-section-8 .u-image-2:before,
.u-section-8 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-8 .u-image-2.u-image-2.u-image-2:hover {
  border-radius: 25px !important;
  box-shadow: 0px 0px 0px 5px rgba(229,0,255,1) !important;
}

.u-section-8 .u-image-2.u-image-2.u-image-2.hover {
  border-radius: 25px !important;
  box-shadow: 0px 0px 0px 5px rgba(229,0,255,1) !important;
}

.u-section-8 .u-image-3,
.u-section-8 .u-image-3:before,
.u-section-8 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-8 .u-image-3.u-image-3.u-image-3:hover {
  border-radius: 15px !important;
  box-shadow: 0px 0px 0px 5px rgba(229,0,255,1) !important;
}

.u-section-8 .u-image-3.u-image-3.u-image-3.hover {
  border-radius: 15px !important;
  box-shadow: 0px 0px 0px 5px rgba(229,0,255,1) !important;
}.u-section-9 .u-sheet-1 {
  min-height: 10px;
}.u-section-10 .u-sheet-1 {
  min-height: 400px;
}

.u-section-10 .u-text-1 {
  font-size: 3rem;
  line-height: 1.07;
  letter-spacing: 0px;
  transition-duration: 0.5s;
  font-family: "Varela Round";
  font-weight: 700;
  margin: 21px auto 0;
}

.u-section-10 .u-image-1 {
  width: 252px;
  height: 7px;
  margin: 0 auto;
}

.u-section-10 .u-text-2 {
  font-family: "Varela Round";
  font-weight: normal;
  margin: 95px auto 60px;
}

.u-section-10 .u-text-1,
.u-section-10 .u-text-1:before,
.u-section-10 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-10 .u-text-1.u-text-1.u-text-1:hover {
  color: #ff7c00 !important;
  transform: scale(1.06) !important;
}

.u-section-10 .u-text-1.u-text-1.u-text-1.hover {
  color: #ff7c00 !important;
  transform: scale(1.06) !important;
}

.u-section-10 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-10 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-11 .u-sheet-1 {
  min-height: 10px;
}.u-section-12 .u-sheet-1 {
  min-height: 354px;
}

.u-section-12 .u-text-1 {
  font-size: 3rem;
  line-height: 1.07;
  letter-spacing: 0px;
  transition-duration: 0.5s;
  font-family: "Varela Round";
  font-weight: 700;
  margin: 24px auto 0;
}

.u-section-12 .u-image-1 {
  width: 313px;
  height: 7px;
  margin: 0 auto;
}

.u-section-12 .u-image-2 {
  width: 500px;
  height: 152px;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 25px 1px rgba(0,0,0,1);
  margin: 24px auto 60px;
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 305px;
  }

  .u-section-12 .u-image-1 {
    margin-top: 69px;
  }

  .u-section-12 .u-image-2 {
    width: 340px;
    height: 103px;
    margin-top: -61px;
  }
}

.u-section-12 .u-text-1,
.u-section-12 .u-text-1:before,
.u-section-12 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-12 .u-text-1.u-text-1.u-text-1:hover {
  color: #ff7c00 !important;
  transform: scale(1.06) !important;
}

.u-section-12 .u-text-1.u-text-1.u-text-1.hover {
  color: #ff7c00 !important;
  transform: scale(1.06) !important;
}

.u-section-12 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-12 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-12 .u-image-2,
.u-section-12 .u-image-2:before,
.u-section-12 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-12 .u-image-2.u-image-2.u-image-2:hover {
  box-shadow: 0px 0px 0px 5px rgba(32,88,255,1) !important;
}

.u-section-12 .u-image-2.u-image-2.u-image-2.hover {
  box-shadow: 0px 0px 0px 5px rgba(32,88,255,1) !important;
}.block {
    background: linear-gradient(318deg, #e700ff, #ff8900);
    background-size: 170% 200%;
    animation: AnimationName 3s ease infinite;
}
@keyframes AnimationName {
    0%{background-position:0% 48%}
    50%{background-position:100% 53%}
    100%{background-position:0% 48%}
}
.block2 {
    background: linear-gradient(318deg, #e700ff, #ff8900);
    background-size: 170% 200%;
    animation: AnimationName 3s ease infinite;
}
@keyframes AnimationName {
    0%{background-position:0% 48%}
    50%{background-position:100% 53%}
    100%{background-position:0% 48%}
}
.block3 {
    background: linear-gradient(318deg, #e700ff, #ff8900);
    background-size: 170% 200%;
    animation: AnimationName 3s ease infinite;
}
@keyframes AnimationName {
    0%{background-position:0% 48%}
    50%{background-position:100% 53%}
    100%{background-position:0% 48%}
}
.block4 {
    background: linear-gradient(318deg, #e700ff, #ff8900);
    background-size: 170% 200%;
    animation: AnimationName 3s ease infinite;
}
@keyframes AnimationName {
    0%{background-position:0% 48%}
    50%{background-position:100% 53%}
    100%{background-position:0% 48%}
}
.block5 {
    background: linear-gradient(318deg, #e700ff, #ff8900);
    background-size: 170% 200%;
    animation: AnimationName 3s ease infinite;
}
@keyframes AnimationName {
    0%{background-position:0% 48%}
    50%{background-position:100% 53%}
    100%{background-position:0% 48%}
}
.text {}
.textimage {
	opacity: 0;
	transform: scale(0);
	transition: opacity 0.5s ease, transform 0.5s ease; }
.text:hover + .textimage {
  opacity: 1;
  transform: scale(1);}
.redeemtext {}
.textimage2 {
	opacity: 0;
	transform: scale(0);
	transition: opacity 0.5s ease, transform 0.5s ease; }
.redeemtext:hover + .textimage2 {
  opacity: 1;
  transform: scale(1);}
.news {}
.textimage3 {
	opacity: 0;
	transform: scale(0);
	transition: opacity 0.5s ease, transform 0.5s ease; }
.news:hover + .textimage3 {
  opacity: 1;
  transform: scale(1);}
.screenshots {}
.textimage4 {
	opacity: 0;
	transform: scale(0);
	transition: opacity 0.5s ease, transform 0.5s ease; }
.screenshots:hover + .textimage4 {
  opacity: 1;
  transform: scale(1);}
.feed {}
.textimage5 {
	opacity: 0;
	transform: scale(0);
	transition: opacity 0.5s ease, transform 0.5s ease; }
.feed:hover + .textimage5 {
  opacity: 1;
  transform: scale(1);}
.pfpone {}
.boxone {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	transition: box-shadow 0.3s ease-in-out;}
.pfpone:hover + .boxone {
	box-shadow: 0 0 0 5px rgba(0, 109, 180, 1); }