.u-section-1 .u-sheet-1 {
  min-height: 489px;
}

.u-section-1 .u-image-1 {
  width: 711px;
  height: 400px;
  transition-duration: 0.25s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  animation-timing-function: ease;
  --animation-custom_in-scale: 0.3;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  margin: 89px auto 0;
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 393px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 304px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 280px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 191px;
  }
}

.u-section-1 .u-image-1,
.u-section-1 .u-image-1:before,
.u-section-1 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-1.u-image-1.u-image-1:hover {
  transform: scale(1.1) !important;
}

.u-section-1 .u-image-1.u-image-1.u-image-1.hover {
  transform: scale(1.1) !important;
}

.u-section-1 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-2 .u-sheet-1 {
  min-height: 10px;
}.u-section-3 .u-sheet-1 {
  min-height: 200px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  line-height: 1.07;
  letter-spacing: 0px;
  transition-duration: 1s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  font-family: "Varela Round";
  font-weight: 700;
  margin: 21px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.875rem;
  letter-spacing: 0px;
  font-weight: 300;
  font-family: Montserrat, sans-serif;
  margin: 21px auto 40px;
}

.u-section-3 .u-text-1,
.u-section-3 .u-text-1:before,
.u-section-3 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-text-1.u-text-1.u-text-1:hover {
  color: #ff7c00 !important;
  transform: scale(1.06) !important;
}

.u-section-3 .u-text-1.u-text-1.u-text-1.hover {
  color: #ff7c00 !important;
  transform: scale(1.06) !important;
}

.u-section-3 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-4 .u-sheet-1 {
  min-height: 346px;
}

.u-section-4 .u-image-1 {
  width: 516px;
  height: 214px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 10px auto 0 -151px;
}

.u-section-4 .u-image-2 {
  width: 499px;
  height: 214px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -214px auto 0;
}

.u-section-4 .u-image-3 {
  width: 479px;
  height: 214px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -214px -114px 0 auto;
}

.u-section-4 .u-text-1 {
  font-size: 1.875rem;
  line-height: 1.07;
  letter-spacing: 0px;
  transition-duration: 1s;
  font-family: "Varela Round";
  font-weight: 700;
  margin: 9px auto 0 -17px;
}

.u-section-4 .u-text-2 {
  font-size: 1.875rem;
  line-height: 1.07;
  letter-spacing: 0px;
  transition-duration: 1s;
  font-family: "Varela Round";
  font-weight: 700;
  margin: -32px -34px 0 auto;
}

.u-section-4 .u-text-3 {
  font-size: 1.875rem;
  line-height: 1.07;
  letter-spacing: 0px;
  transition-duration: 1s;
  font-family: "Varela Round";
  font-weight: 700;
  margin: -31px auto 0;
}

.u-section-4 .u-text-4 {
  font-size: 1.25rem;
  letter-spacing: 0px;
  font-weight: 300;
  margin: 10px -80px 0 989px;
}

.u-section-4 .u-text-5 {
  font-size: 1.25rem;
  letter-spacing: 0px;
  font-weight: 300;
  width: 412px;
  margin: -44px auto 0;
}

.u-section-4 .u-text-6 {
  font-size: 1.25rem;
  letter-spacing: 0px;
  font-weight: 300;
  margin: -44px 1008px 26px -98px;
}

@media (max-width: 1399px) {
  .u-section-4 .u-image-2 {
    margin-top: 20px;
  }

  .u-section-4 .u-image-3 {
    margin-top: 20px;
  }

  .u-section-4 .u-text-1 {
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    margin-top: -193px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 178px;
  }

  .u-section-4 .u-text-3 {
    margin-top: -151px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 262px;
    margin-left: 899px;
  }

  .u-section-4 .u-text-5 {
    margin-top: -169px;
  }

  .u-section-4 .u-text-6 {
    margin: -170px 918px 0 -207px;
  }
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-top: -194px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 111px;
  }

  .u-section-4 .u-text-3 {
    margin-top: -84px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 194px;
    margin-left: 799px;
  }

  .u-section-4 .u-text-5 {
    margin-top: -191px;
  }

  .u-section-4 .u-text-6 {
    margin-top: -50px;
    margin-right: 818px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-2 {
    margin-top: 72px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 216px;
    margin-left: 689px;
  }

  .u-section-4 .u-text-5 {
    margin-top: -257px;
  }

  .u-section-4 .u-text-6 {
    margin-top: -191px;
    margin-right: 708px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-image-2 {
    margin-top: -2px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 104px;
  }

  .u-section-4 .u-text-3 {
    margin-top: -116px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 314px;
    margin-left: 599px;
  }

  .u-section-4 .u-text-5 {
    margin-top: -883px;
  }

  .u-section-4 .u-text-6 {
    margin-top: -235px;
    margin-right: 618px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 715px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 141px;
    margin-left: 0;
  }

  .u-section-4 .u-image-2 {
    height: 146px;
    margin-top: 5388px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-3 {
    height: 152px;
    margin-top: 20668px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 76344px;
    margin-left: auto;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: -76356px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 6435px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-top: -34118px;
    margin-left: 499px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: 0;
    margin-right: -466px;
    margin-left: 466px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 0;
    margin-right: 518px;
    margin-bottom: 60px;
  }
}

.u-section-4 .u-image-1,
.u-section-4 .u-image-1:before,
.u-section-4 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-image-1.u-image-1.u-image-1:hover {
  border-radius: 15px !important;
  transform: scale(1.04) !important;
  box-shadow: 0px 0px 0px 5px rgba(229,0,255,1) !important;
}

.u-section-4 .u-image-1.u-image-1.u-image-1.hover {
  border-radius: 15px !important;
  transform: scale(1.04) !important;
  box-shadow: 0px 0px 0px 5px rgba(229,0,255,1) !important;
}

.u-section-4 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-text-1,
.u-section-4 .u-text-1:before,
.u-section-4 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-text-1.u-text-1.u-text-1:hover {
  color: #ff7c00 !important;
  transform: scale(1.06) !important;
}

.u-section-4 .u-text-1.u-text-1.u-text-1.hover {
  color: #ff7c00 !important;
  transform: scale(1.06) !important;
}

.u-section-4 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-text-3,
.u-section-4 .u-text-3:before,
.u-section-4 .u-text-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-text-3.u-text-3.u-text-3:hover {
  color: #ff7c00 !important;
  transform: scale(1.06) !important;
}

.u-section-4 .u-text-3.u-text-3.u-text-3.hover {
  color: #ff7c00 !important;
  transform: scale(1.06) !important;
}

.u-section-4 .u-container-layout:hover .u-text-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-text-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-text-2,
.u-section-4 .u-text-2:before,
.u-section-4 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-text-2.u-text-2.u-text-2:hover {
  color: #ff7c00 !important;
  transform: scale(1.06) !important;
}

.u-section-4 .u-text-2.u-text-2.u-text-2.hover {
  color: #ff7c00 !important;
  transform: scale(1.06) !important;
}

.u-section-4 .u-container-layout:hover .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-image-2,
.u-section-4 .u-image-2:before,
.u-section-4 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-image-2.u-image-2.u-image-2:hover {
  border-radius: 15px !important;
  transform: scale(1.04) !important;
  box-shadow: 0px 0px 0px 5px rgba(229,0,255,1) !important;
}

.u-section-4 .u-image-2.u-image-2.u-image-2.hover {
  border-radius: 15px !important;
  transform: scale(1.04) !important;
  box-shadow: 0px 0px 0px 5px rgba(229,0,255,1) !important;
}

.u-section-4 .u-container-layout:hover .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-image-3,
.u-section-4 .u-image-3:before,
.u-section-4 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-image-3.u-image-3.u-image-3:hover {
  border-radius: 15px !important;
  transform: scale(1.04) !important;
  box-shadow: 0px 0px 0px 5px rgba(229,0,255,1) !important;
}

.u-section-4 .u-image-3.u-image-3.u-image-3.hover {
  border-radius: 15px !important;
  transform: scale(1.04) !important;
  box-shadow: 0px 0px 0px 5px rgba(229,0,255,1) !important;
}

.u-section-4 .u-container-layout:hover .u-image-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-image-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-5 .u-sheet-1 {
  min-height: 10px;
}.u-section-6 .u-sheet-1 {
  min-height: 249px;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  line-height: 1.07;
  letter-spacing: 0px;
  transition-duration: 1s;
  font-family: "Varela Round";
  font-weight: 700;
  margin: 53px 109px 0 auto;
}

.u-section-6 .u-image-1 {
  width: 500px;
  height: 143px;
  transition-duration: 0.25s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -51px auto 0 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.875rem;
  letter-spacing: 0px;
  font-weight: 300;
  margin: -66px 67px 53px auto;
}

@media (max-width: 1399px) {
  .u-section-6 .u-text-1 {
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 482px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 38px;
    margin-right: auto;
    margin-left: 38px;
  }

  .u-section-6 .u-image-1 {
    height: 97px;
    margin-top: 17px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin: 26px auto 37px 9px;
  }
}

.u-section-6 .u-image-1,
.u-section-6 .u-image-1:before,
.u-section-6 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-6 .u-image-1.u-image-1.u-image-1:hover {
  border-radius: 26px !important;
  transform: scale(1.1) !important;
}

.u-section-6 .u-image-1.u-image-1.u-image-1.hover {
  border-radius: 26px !important;
  transform: scale(1.1) !important;
}

.u-section-6 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-6 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-6 .u-text-1,
.u-section-6 .u-text-1:before,
.u-section-6 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-6 .u-text-1.u-text-1.u-text-1:hover {
  color: #ff7c00 !important;
  transform: scale(1.06) !important;
}

.u-section-6 .u-text-1.u-text-1.u-text-1.hover {
  color: #ff7c00 !important;
  transform: scale(1.06) !important;
}

.u-section-6 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-6 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-7 .u-sheet-1 {
  min-height: 10px;
}.u-section-8 .u-sheet-1 {
  min-height: 482px;
}

.u-section-8 .u-text-1 {
  font-size: 3rem;
  line-height: 1.07;
  letter-spacing: 0px;
  transition-duration: 1s;
  font-family: "Varela Round";
  font-weight: 700;
  margin: 19px auto 0;
}

.u-section-8 .u-image-1 {
  width: 764px;
  height: 350px;
  transition-duration: 0.5s;
  margin: 19px auto 0 63px;
}

.u-section-8 .u-text-2 {
  font-family: "Varela Round";
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: -64px auto 0 72px;
}

.u-section-8 .u-text-3 {
  font-family: "Varela Round";
  margin: 4px auto 0 72px;
}

.u-section-8 .u-text-4 {
  font-family: "Varela Round";
  line-height: 1.23;
  letter-spacing: 0px;
  margin: -21px 502px 54px auto;
}

@media (max-width: 1399px) {
  .u-section-8 .u-text-4 {
    margin-right: 434px;
  }
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-4 {
    margin-right: 358px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 462px;
  }

  .u-section-8 .u-image-1 {
    width: 720px;
    height: 330px;
    margin-left: 0;
  }

  .u-section-8 .u-text-2 {
    margin-top: -44px;
  }

  .u-section-8 .u-text-4 {
    margin-right: 274px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-8 .u-image-1 {
    width: 540px;
    height: 248px;
  }

  .u-section-8 .u-text-2 {
    margin-top: 38px;
  }

  .u-section-8 .u-text-4 {
    margin-right: 206px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 556px;
  }

  .u-section-8 .u-image-1 {
    width: 340px;
    height: 156px;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-top: 8px;
    margin-left: 0;
  }

  .u-section-8 .u-text-3 {
    width: auto;
    margin-left: 0;
  }

  .u-section-8 .u-text-4 {
    width: auto;
    margin-right: 19px;
  }
}

.u-section-8 .u-text-1,
.u-section-8 .u-text-1:before,
.u-section-8 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-8 .u-text-1.u-text-1.u-text-1:hover {
  color: #ff7c00 !important;
  transform: scale(1.06) !important;
}

.u-section-8 .u-text-1.u-text-1.u-text-1.hover {
  color: #ff7c00 !important;
  transform: scale(1.06) !important;
}

.u-section-8 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-8 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-8 .u-image-1,
.u-section-8 .u-image-1:before,
.u-section-8 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-8 .u-image-1.u-image-1.u-image-1:hover {
  border-radius: 25px !important;
  box-shadow: 0px 0px 0px 5px rgba(229,0,255,1) !important;
}

.u-section-8 .u-image-1.u-image-1.u-image-1.hover {
  border-radius: 25px !important;
  box-shadow: 0px 0px 0px 5px rgba(229,0,255,1) !important;
}.u-section-9 .u-sheet-1 {
  min-height: 10px;
}.u-section-10 .u-sheet-1 {
  min-height: 400px;
}

.u-section-10 .u-text-1 {
  font-size: 3rem;
  line-height: 1.07;
  letter-spacing: 0px;
  transition-duration: 1s;
  font-family: "Varela Round";
  font-weight: 700;
  margin: 21px auto 0;
}

.u-section-10 .u-text-2 {
  font-family: "Varela Round";
  margin: 102px auto 60px;
}

@media (max-width: 1399px) {
  .u-section-10 .u-text-2 {
    font-weight: normal;
  }
}

.u-section-10 .u-text-1,
.u-section-10 .u-text-1:before,
.u-section-10 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-10 .u-text-1.u-text-1.u-text-1:hover {
  color: #ff7c00 !important;
  transform: scale(1.06) !important;
}

.u-section-10 .u-text-1.u-text-1.u-text-1.hover {
  color: #ff7c00 !important;
  transform: scale(1.06) !important;
}

.u-section-10 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-10 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-11 .u-sheet-1 {
  min-height: 10px;
}.u-section-12 .u-sheet-1 {
  min-height: 281px;
}

.u-section-12 .u-text-1 {
  font-size: 3rem;
  line-height: 1.07;
  letter-spacing: 0px;
  transition-duration: 1s;
  font-family: "Varela Round";
  font-weight: 700;
  margin: 24px auto 0;
}

.u-section-12 .u-image-1 {
  width: 500px;
  height: 152px;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 25px 1px rgba(0,0,0,1);
  margin: 15px auto 0;
}

.u-section-12 .u-image-2 {
  width: 74px;
  height: 74px;
  margin: -143px auto 0 421px;
}

.u-section-12 .u-text-2 {
  font-family: "Varela Round";
  font-size: 1.5rem;
  font-weight: 700;
  margin: -50px auto 0 509px;
}

.u-section-12 .u-text-3 {
  font-family: "Varela Round";
  font-size: 1.5rem;
  margin: 39px auto 0 421px;
}

.u-section-12 .u-text-4 {
  font-family: "Varela Round";
  font-size: 1.125rem;
  margin: -117px 421px 60px auto;
}

@media (max-width: 1399px) {
  .u-section-12 .u-text-2 {
    margin-left: 440px;
  }

  .u-section-12 .u-text-3 {
    margin-left: 363px;
    font-weight: normal;
  }

  .u-section-12 .u-text-4 {
    margin-right: 364px;
  }
}

@media (max-width: 1199px) {
  .u-section-12 .u-text-2 {
    margin-left: 363px;
  }

  .u-section-12 .u-text-3 {
    margin-left: 299px;
  }

  .u-section-12 .u-text-4 {
    margin-right: 300px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-text-2 {
    margin-left: 278px;
  }

  .u-section-12 .u-text-3 {
    margin-left: 229px;
  }

  .u-section-12 .u-text-4 {
    margin-right: 230px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-text-2 {
    margin-left: 209px;
  }

  .u-section-12 .u-text-3 {
    margin-left: 172px;
  }

  .u-section-12 .u-text-4 {
    margin-right: 173px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 341px;
  }

  .u-section-12 .u-image-1 {
    width: 340px;
    height: 103px;
  }

  .u-section-12 .u-image-2 {
    margin-top: -97px;
    margin-left: 12px;
  }

  .u-section-12 .u-text-2 {
    width: auto;
    margin-top: -71px;
    margin-right: 43px;
    margin-left: auto;
  }

  .u-section-12 .u-text-3 {
    width: auto;
    margin-top: 0;
    margin-right: 58px;
    margin-left: 98px;
  }

  .u-section-12 .u-text-4 {
    width: auto;
    margin-top: -5px;
    margin-right: auto;
    margin-left: 12px;
  }
}

.u-section-12 .u-text-1,
.u-section-12 .u-text-1:before,
.u-section-12 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-12 .u-text-1.u-text-1.u-text-1:hover {
  color: #ff7c00 !important;
  transform: scale(1.06) !important;
}

.u-section-12 .u-text-1.u-text-1.u-text-1.hover {
  color: #ff7c00 !important;
  transform: scale(1.06) !important;
}

.u-section-12 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-12 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-12 .u-image-1,
.u-section-12 .u-image-1:before,
.u-section-12 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-12 .u-image-1.u-image-1.u-image-1:hover {
  box-shadow: 0px 0px 0px 5px rgba(71,138,201,1) !important;
}

.u-section-12 .u-image-1.u-image-1.u-image-1.hover {
  box-shadow: 0px 0px 0px 5px rgba(71,138,201,1) !important;
}.block {
    background: linear-gradient(318deg, #e700ff, #ff8900);
    background-size: 170% 200%;
    animation: AnimationName 3s ease infinite;
}
@keyframes AnimationName {
    0%{background-position:0% 48%}
    50%{background-position:100% 53%}
    100%{background-position:0% 48%}
}
.block2 {
    background: linear-gradient(318deg, #e700ff, #ff8900);
    background-size: 170% 200%;
    animation: AnimationName 3s ease infinite;
}
@keyframes AnimationName {
    0%{background-position:0% 48%}
    50%{background-position:100% 53%}
    100%{background-position:0% 48%}
}
.gradient-text {
  background: linear-gradient(318deg, #e700ff, #ff8900);
  background-size: 170% 200%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  
  animation: AnimationName 3s ease infinite;
}
@keyframes AnimationName {
  0% {
    background-position: 0% 48%;
  }
  50% {
    background-position: 100% 53%;
  }
  100% {
    background-position: 0% 48%;
  }
}
.block3 {
    background: linear-gradient(318deg, #e700ff, #ff8900);
    background-size: 170% 200%;
    animation: AnimationName 3s ease infinite;
}
@keyframes AnimationName {
    0%{background-position:0% 48%}
    50%{background-position:100% 53%}
    100%{background-position:0% 48%}
}
.block4 {
    background: linear-gradient(318deg, #e700ff, #ff8900);
    background-size: 170% 200%;
    animation: AnimationName 3s ease infinite;
}
@keyframes AnimationName {
    0%{background-position:0% 48%}
    50%{background-position:100% 53%}
    100%{background-position:0% 48%}
}
.block5 {
    background: linear-gradient(318deg, #e700ff, #ff8900);
    background-size: 170% 200%;
    animation: AnimationName 3s ease infinite;
}
@keyframes AnimationName {
    0%{background-position:0% 48%}
    50%{background-position:100% 53%}
    100%{background-position:0% 48%}
}